<div class="container">
    <div class="row">
        <div class="col-lg-4">
            {{#each burger}}
                <div class="card mt-3">
                    <div class="card-body">
                        {{this.burger_name}}
                        <button type="button" class="btn btn-success float-right consume" value="{{this.id}}">Consume {{this.id}}</button>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12 text-center"><h3>Eat Da Burger!</h3></div>
                <div class="col-lg-12">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" id="burgerText" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12 text-center">
                    <button type="button" class="btn btn-primary" id="submit">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            {{#each consumed_burger}}
                <div class="card mt-3">
                    <div class="card-body">
                        {{this.burger_name}}
                        <button type="button" class="btn btn-success float-right consume" value="{{this.id}}">Consume</button>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
